@using LVTS.ViewModels.Admin
@model AdminLoginViewModel;

@{
    ViewData["Title"] = "Admin Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="form-box">
        <h2 class="text-center mb-4">Admin Login</h2>
        <form asp-action="AdminLogin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" />   
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="float-end">
                    <a asp-controller="Admin" asp-action="AdminVerifyEmail" class="text-decoration-none">Forgot Password?</a>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input asp-for="RememberMe" class="form-check-input"/>
                        @Html.DisplayNameFor(a => a.RememberMe)
                    </label>
                </div>
                <input type="submit" value="Login" class="btn btn-success w-100 p-2" />
                <p class="text-center mt-2">
                Don't have an account?  <a asp-controller="Admin" asp-action="AdminSignup" class="text-decoration-none">Sign Up</a>
                </p>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}