@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <partial name="_AdminSidebarPartial" />

    <div class="admin-content">
        <h1>Vaccines</h1>
    </div>
</div>