@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Admin> SignInManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminLogout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminLogin">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminSignup">Sign Up</a>
        </li>
    }
    <li></li>
</ul>