<div class="container admin-sidebar">
    <ul class="navbar-nav flex-column ms-auto">
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="AdminDashboard" class=" nav-link text-black">Dashboard</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="AdminTransactions" class=" nav-link text-black">Transactions</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="AdminHealthcareWorkers" class=" nav-link text-black">Healthcare Workers</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="AdminPatients" class=" nav-link text-black">Patients</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="AdminVaccines" class=" nav-link text-black">Vaccines</a>
        </li>
    </ul>
</div>